.MuiContainer-root.myLearning-container {
    max-width: 960px;
    padding-top: 50px;
}

.myLearning-more-icon {
    background-color: white;
    padding: 3px 8px 5px 8px;
    cursor: pointer;
    z-index: 2;
}

.myLearning-course {
    direction: rtl;
    position: relative;
    min-height: 250px;
}


.myLearning-more-icon:hover {
    background-color: rgb(209, 209, 209);
}

.myLearning-playIcon {
    position: absolute;
    background: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 120px;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;

}

.myLearning-course:hover .myLearning-playIcon {
    display: flex;
    animation-name: showPlay;
    animation-duration: 400ms;
}



.myLearning-imageCourse {
    background-size: cover;
    background-position: center;
    height: 120px;
}



.myLearning-playIcon-self {
    border-radius: 50%;
    cursor: pointer;
    animation-name: showIconPlay;
    animation-duration: 200ms;
    width: 50px;
}

.myLearning-progres {
    height: 2px;
    background: rgb(230, 228, 228);
}

.myLearning-creator {
    padding-bottom: 8px;
    color: rgb(128, 124, 124);
}


.myLearning-rating.MuiBox-root .MuiRating-root .MuiRating-icon {
    color: rgb(236, 160, 7);
    font-size: 20px;
}

.myLearning-option.MuiTypography-root {
    font-size: 14px;
}

.myLearning-option.MuiTypography-root:hover {
    color: blueviolet;
    cursor: pointer;
}

.myLearning-shareIcon {
    font-size: 24px;
    cursor: pointer;
}

.myLearning-green {
    color: green;
}

.myLearning-blue {
    color: rgb(75, 75, 213);
    padding: -2px;
}

.myLearning-lightBlue {
    color: rgb(3, 166, 220);
}

.myLearning-strongBlue {
    color: rgb(3, 166, 220);
}

.myLearning-red {
    color: red;
}

.myLearning-mor-paper {
    animation: showPaper 200ms;
}

.myLearning-modal-btn {
    width: 20%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.904);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myLearning-modal-btn:hover {
    background: black;
}

.myLearning-modal-link {
    width: 80%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    outline: none;
}

@keyframes showPlay {
    0% {
        background: transparent;
        display: none;

    }

    100% {
        background: rgba(0, 0, 0, 0.596);
    }
}

@keyframes showIconPlay {
    0% {
        width: 0px;
        opacity: 0.0;
    }

    100% {
        width: 50px;
        opacity: 1;

    }
}

@keyframes showPaper {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1)
    }
}